@charset "utf-8";
/* CSS Document */

#divs {
	font-family: Arial, Helvetica, sans-serif;
	
	height: 12cm;
	width: 12cm;
	overflow-style:auto;
	
	position:relative;
	overflow:scroll;
	font-size: 11px;
	display:inline-block;
}
#divt {
	font-family: Arial, Helvetica, sans-serif;
     
	height:400;
	width: 300px;
	overflow-style:auto;
	position:relative;
	overflow:scroll;
	font-size: 11px;
	display:inline-block;
}
#divp {
	font-family: Arial, Helvetica, sans-serif;
     
	height:700;
	width: 940px;
	overflow-style:auto;
	position:relative;
	overflow:scroll;
	font-size: 11px;
	display:inline-block;
}

#divs2 {
	font-family: Arial, Helvetica, sans-serif;
	
	height: 10cm;
	width: 4cm;
	overflow-style:auto;
	color:#330000;
	position:absolute;
	overflow:scroll;
	font-size: 11px;
	display:inline-block;
}
#divhead {
	font-family: Arial, Helvetica, sans-serif;
	
	height: 3cm;
	width: 18cm;
	position:relative;
	
	font-size: 11px;
	display:inline-blocks;
}

#vioR {
	font-family: Arial, Helvetica, sans-serif;
	color: #D8000C;
	background-color: #FFBABA;
}
#vioO {
	font-family: Arial, Helvetica, sans-serif;
	 color: #9F6000;
    background-color: #FEEFB3;
}
#vio {
	font-family: Arial, Helvetica, sans-serif;
	  color: #00529B;
          background-color: #BDE5F8;
}
