 
 

 .error {
    background-image: url(../images/bg/pick_bg.error.jpg);
}           

img { 
    border: none; 
    margin:0;
    padding:0;
}

h2{ 
    margin-bottom:10px;
    font-size:30px;
    font-weight: bold;
}

li{
    font-size:14px;
    padding:4px;
    margin-bottom:3px;
    background: #FFFFFF;
    list-style:none;}

ul{	padding:0px;}

label
{
    color:#999;
    padding:4px;
    margin-top:4px;
    color: #000;
}
.input
{
    padding:9px;
    border:1px solid #C9C9C9;
    margin:4px;
    width:220px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    height: 32px;
}
.radio
{
    margin:4px;

}

.btn-login {
    background-clip: padding-box;
    background-color: #B0D60A;
    background-image: linear-gradient(to bottom, #B5DA11, #A9D200);
    background-repeat: repeat-x;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 1, 1, 0.35), 0 1px 2px rgba(255, 255, 255, 0.5) inset;
    width: 321px;
    padding-bottom: 12px;
    padding-top: 13px;
    cursor: pointer;
    font-size: 24px;
    text-shadow: 0 -1px 0 rgba(0, 1, 1, 0.2);
    text-transform: capitalize;
    border: medium none;
    color: #FFFFFF;
    font-weight: normal;
}

label.error
{
    font-size:11px;
    background-color: #dedede;
    color:#000;
    padding:3px;
    margin-left:5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#signup_block
{
    display:none;
}

#login{
    z-index: 22;
}


#log {
    background-color: #FFBABA;
    border-radius: 6px 6px 6px 6px;
    border: 2px solid  #f68787;
    width : 1070px;
    height: 5%;
    padding-top: 15px;
    alignment-adjust: central;

}

#log1 {
    background-color: #f68787;
    border: 1px solid  #000;
    align: center;
    width : 40%;
    height: 5%;
    font-size:250%;
    padding-top: 2px;
    alignment-adjust: central;
    margin-top:100px;
    margin-bottom:100px;
    margin-right:100px;
    margin-left:100px;

}

#tabContainlogin{
    background-color: #B0D60A;
    border-radius: 4px 4px 4px 4px;
    padding: 2px;
    width: 1070px;
}

#home  .butlog
{
    font-size:15px;
    padding:6px;
    padding-left: 30px;
    padding-right: 60px;
    font-weight:bold;
    border-radius: 15px;
    color: #000;
    background-color: #B0D60A;
    text-transform: uppercase;
}



